{% extends 'base.html' %}
{% load static%}
{% block title%}Add New Book{% endblock title%}
{% block content %}

<br>
<br>
<div id='forms' class="container my-4">
    <div class="row">
        <div class="col-md-12">
        
            <form enctype="multipart/form-data" method='post' action="">
                {% csrf_token %}
                <h3>Add New Book in Store</h3>
                <br>
                {% if user.is_anonymous %}
                <h6>You must have to login first <a href="{% url 'login_seller' %}" class="">Login First</a></h6></h6>
                {% endif%}
                <div class="mb-3 my-4">
                    <label for="formGroupExampleInput" class="form-label">Google ID of Book</label>
                    <input type="text" class="form-control" name='bookid' id="bookid" placeholder="Enter Google ID of Book">
                </div>
                <div class="mb-3 my-4">
                    <label for="formGroupExampleInput" class="form-label">Book Name</label>
                    <input type="text" class="form-control" name='bookname' id="bookname" placeholder="Enter Book name">
                </div>
                <div class="mb-3 my-4">
                    <label for="formGroupExampleInput" class="form-label">Author Name</label>
                    <input type="text" class="form-control" name='bookauthor' id="bookauthor" placeholder="Enter Author name">
                </div>
                <div class="mb-3 my-4">
                    <label for="formGroupExampleInput" class="form-label">Book Price</label>
                    <input type="number" class="form-control" name='bookprice' id="bookprice" placeholder="Enter Book Price">
                </div>
                <div class="mb-3 my-4">
                    <label for="formGroupExampleInput" class="form-label">Book Image</label>
                    <input type='file' accept='image/*' onchange='uploadPC()' name="bookimage" id="bookimage">
                </div>
                <div class="mb-3 my-4">
                    <label for="formGroupExampleInput" class="form-label">User Name : {{user.username}}</label>
                    <input type="hidden" class="form-control" name='username' id="username" value="{{user.username}}">
                </div>
                <div class="mb-3 my-4">
                    <label for="formGroupExampleInput" class="form-label">Store Name : {{store_name}}</label>
                    <input type="hidden" class="form-control" name='storename' id="storename" value="{{store_name}}">
                </div>
                
                
                
                <div class="login-btn text-center">
                    <button type="submit" class="btn btn-outline-dark my-2">Add Book</button>
                </div>
            </form>
            
        </div>
    </div>
</div>

{% endblock content %}