{% extends 'base.html' %}
{% load static%}
{% block title%}Seller Login{% endblock title%}
{% block content %}


<br>
<br>
<div id='forms' class="container my-4">
    <div class="row">
        <div class="col-md-12">
        <form method='post' action="">
            {% csrf_token %}
            <h3>Register For Sellers</h3>
            <div class="mb-3 my-4">
                <label for="formGroupExampleInput" class="form-label">First Name</label>
                <input type="text" class="form-control" name='first_name' id="first_name" placeholder="Enter your first name">
            </div>
            <div class="mb-3 my-4">
                <label for="formGroupExampleInput" class="form-label">Last Name</label>
                <input type="text" class="form-control" name='last_name' id="last_name" placeholder="Enter your last name">
            </div>
            <div class="mb-3 my-4">
                <label for="formGroupExampleInput" class="form-label">Username</label>
                <input type="text" class="form-control" name='username' id="username" placeholder="Enter your Username">
            </div>
            <div class="mb-3 my-4">
                <label for="formGroupExampleInput" class="form-label">Email</label>
                <input type="email" class="form-control" name='email' id="email" placeholder="Enter your Email">
            </div>

            <div class="mb-3 my-4">
                <label for="formGroupExampleInput2" class="form-label">Password</label>
                <input type="password" class="form-control" name='password1' id="password1" placeholder="Enter your Password">
            </div>
            <div class="mb-3 my-4">
                <label for="formGroupExampleInput2" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" name='password2' id="password2" placeholder="Enter your confirm Password">
            </div>
            <div class="login-btn text-center">
                    <button type="submit" class="btn btn-outline-dark my-2">Register</button>
                </div>
        </form>
        </div>
    </div>
</div>

{% endblock content %}